
<!-- <div>
  <h2>Angular Fundamentals</h2>
  <app-interpolation></app-interpolation>
  <app-directives></app-directives>
</div>

<div>
  <h2>Displaying data</h2>
  <app-property-binding></app-property-binding>
  <app-attribute-binding></app-attribute-binding>
  <app-class-binding></app-class-binding>
  <app-style-binding></app-style-binding>
  <app-event-binding></app-event-binding>
  <app-event-bubbling></app-event-bubbling>
  <app-event-filtering></app-event-filtering>
  <app-template-variables></app-template-variables>
  <app-two-way-binding></app-two-way-binding>
  <app-pipes></app-pipes>
  <app-custom-pipe></app-custom-pipe>
</div>

<div>
  <h2>Building reusable component</h2>
  <app-parent-to-child [isFavorite]="favorite"></app-parent-to-child>
  <app-child-to-parent (change)="onChange($event)"></app-child-to-parent>
  <app-ng-content>
    <div class="heading">heading</div>
    <div class="body">body</div>
  </app-ng-content>
  <app-ng-container></app-ng-container>
</div>

<div>
  <h2>Directives</h2>
  <app-structural-directives></app-structural-directives>
  <app-attribute-directives></app-attribute-directives>
  <app-custom-directives></app-custom-directives>
</div>

<div>
  <h2>Template driven forms</h2>
  <app-contact-form></app-contact-form>
</div>

<div>
  <h2>Reactive form</h2>
  <app-reactive-form> </app-reactive-form>
</div>

<div>
  <h2>Http Services</h2>
  <app-data></app-data>
</div> -->


<div class="container">
  <div class="login-container">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <span class="title">Login</span>
      <label>
        <input type="text" placeholder="userid" id="userId" name="userId" formControlName="userId">
      </label>
      <label>
        <input type="text" placeholder="password" id="passWord" name="passWord" formControlName="passWord">
      </label>
      <button type="submit">Login</button>
    </form>
  </div>
</div>

<button (click)="navigate()">navigate</button>

<router-outlet></router-outlet>
